h1.covid-dashboard-d3, h2.covid-dashboard-d3 {
  margin: 0;
  margin-top: 20px;
  letter-spacing: normal !important;
  font-family: Arial, Helvetica, sans-serif !important;
  line-height: normal !important;
}
h2.covid-dashboard-d3 {
  font-weight: 100;
}

p.covid-dashboard-article {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16.8px;
  letter-spacing: 1px;
  line-height: 26.88px
}

.covid-dashboard-d3,
.covid-dashboard-d3 * {
  letter-spacing: normal !important;
  font-family: Arial, Helvetica, sans-serif !important;
  line-height: normal !important;

  h1,
  h2,
  h3,
  p {
    margin: 0;
  }

  h1 {
    margin-top: 20px;
  }

  h2 {
    margin-top: 20px;
  }

  h2, h3 {
    font-weight: 100;
  }

  a,
  a:link,
  a:active,
  a:visited,
  a:hover {
    color: black;
    text-decoration: none;
  }
}

a.covid-dashboard-d3-links {

  letter-spacing: normal !important;
  font-family: Arial, Helvetica, sans-serif !important;
  line-height: normal !important;

  &,
  &:link,
  &:active,
  &:visited,
  &:hover {
    color: black;
    text-decoration: none;
  }

  margin: 10px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}